<div style="background-color:#f9f9f9">

  <div style="margin:0px auto;max-width:640px;background:transparent">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           role="presentation" style="font-size:0px;width:100%;background:transparent">
      <tbody>
      <tr>
        <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px">
          <div aria-labelledby="mj-column-per-100" class="m_4968682419475565202mj-column-per-100"
               style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tbody>
              <tr>
                <td align="center" style="word-break:break-word;font-size:0px;padding:0px">
                  <table align="center" border="0" cellpadding="0"
                         cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                    <tbody>
                    
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden">
    <div style="margin:0px auto;max-width:640px;background:#ffffff">
      <table align="center" border="0" cellpadding="0" cellspacing="0"
             role="presentation" style="font-size:0px;width:100%;background:#ffffff">
        <tbody>
        <tr>
          <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px">
            <div aria-labelledby="mj-column-per-100" class="m_4968682419475565202mj-column-per-100"
                 style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tbody>
                <tr>
                  <td align="left" style="word-break:break-word;font-size:0px;padding:0px">
                    <div
                      style="color:#737f8d;font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left">

                      <h2
                        style="font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:500;font-size:20px;color:#4f545c;letter-spacing:0.27px">
                        Hey {{name}},</h2>
                      <p>Your <span class="il">password</span> can be <span class="il">reset</span> by clicking
                        the button below. If you did not request a new <span class="il">password</span>, please ignore
                        this email.</p>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:20px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                           role="presentation" style="border-collapse:separate">
                      <tbody>
                      <tr>
                        <td align="center" bgcolor="#5865f2"
                            style="border:none;border-radius:3px;color:white;padding:15px 19px" valign="middle"><a
                          href="{{url}}"
                          style="text-decoration:none;line-height:100%;background:#5865f2;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px"
                          target="_blank">
                          <span class="il">Reset</span> <span class="il">Password</span>
                        </a></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="word-break:break-word;font-size:0px;padding:30px 0px"><p
                    style="font-size:1px;margin:0px auto;border-top:1px solid #dcddde;width:100%"></p></td>
                </tr>

                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>